@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: poppins, sans-serif;
  font-weight: 500;
}
body {
    background-color: #F0F7FF;
}
.navegacaoAzul {
    background-color: #4688D7;
    padding: 2%;
    display: flex;
    align-items: center;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    justify-content: center;
    padding: 1em;
    border-radius: 50px;
}
.logo_editar {
    max-width: 3%;
    max-height: 2%;
}
.edicao,
.cancelar {
    background-color: #E3EEFF;
    font-size: 1em;
    padding: 15px 40px;    /* 2px 20px em relação à largura do contêiner pai */
    border: none;
    margin-right: 2em;
    /* 20px em relação à largura do contêiner pai */
    border-radius: 20px;
    cursor: pointer;
    width: 15%;
    font-family: Poppins;
    font-size: 1.2em;
    margin-top: 0.5em;
}
.edicao {
    position: relative;
    /* top: auto; */
    left: 20%;
    /* 600px em relação à largura do contêiner pai */
    bottom: 5px;
}
.cancelar {
    position: relative;
    top: auto;
    left: 25%;
    /* 600px em relação à largura do contêiner pai */
    bottom: 5px;
}
.linha {
    margin-top: 2%;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.novo_kit {
    color: #F0F7FF;
    font-family: Poppins;
    font-size: 2em;
}
.item {
    color: #E3EEFF;
    text-align: center;
}
.medicamento {
    text-align: center;
    border-radius: 15px;
}
.medicamento,
.quantidade {
    color: #204776;
}
.box1 {
    background-color: #4688D7;
    width: 15%;
    border-radius: 15px;
    padding: 2%;
    width: 25%;
}
.box2 {
    background-color: #E3EEFF;
    border-radius: 15px;
    text-align: center;
    width: 100%;
}
.adicao {
    font-size: 7em;
    color: #F0F7FF;
    background-color: #4688D7;
    border: none;
    border-radius: 10px;
    padding: 1% 2%;
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* Centraliza verticalmente */
    width: 15%;
    /* Defina a largura desejada */
    position: relative;
    left: 43%;
    /* Ajuste para centralizar horizontalmente */
    cursor: pointer;
}
.triangulo_baixo {
    display: flex;
    bottom: 1px;
    right: 1.95%;
}
.triangulo_cima {
    position: absolute;
    bottom: -11px;
    right: -20%;
}