<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/visualizacaoKit.css">
</head>

<body>
    <div class="navegacaoAzul">
        <img class="logo_editar" src="../static/img/logo_editar.png" alt="not found">
        <h1 class="novo_kit"> Armazém </h1>
        <button class="cancelar" href="armazem.html">Voltar</button>
    </div>
    <div class="linha">
        <div class="box1">
            <h1 class="item">Item ?</h1>
            <div class="box2">
                <h2 class="medicamento">Medicamento</h2>
                <h2 class="medicamento">Quantidade:</h2>
                <h2 class="medicamento">01X</h2>
            </div>
        </div>

    </div>
    </div>
</body>

</html>